<% if topic.try(:title).blank? %>
    <br>
    <h1>There's Nothing Here!</h1>
    <p>Either you're editing the title of this page, or nothing has been posted here!</p>
    <p>If you're not en editor or admin, you cannot create any posts. Please ask them to create content for you.</p>
<% else %>
    <h1><%= topic.title %></h1>
    <div id="line-across"></div>
    <%= link_to '[new section]', new_section_path, :remote => true, :class => 'edit-button' if can_edit? && Topic.all.any?%>
    <% if topic.try(:sections) %>
        <% topic.sections.order(:priority).each do |section| %>
            <div class="topics-sections">
                <h2><%= section.title %></h2>
                <% if can_edit? %>
                <%= link_to '[edit]', edit_section_path(section), remote: true, :class => "edit-buttons" %>
                <%= link_to ' [delete]', section_path(section), remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "edit-buttons" %>
                <% end %>
                <%= section.body.html_safe %>
                <% if section.sub_sections %>
                    <% section.sub_sections.each do |ss| %>
                        <div class="qaa-box" id="<%= ss.css_id %>">
                            <h4 class="qaa-title">
                                <%= image_tag 'plus.png', :size => '14x14', :class => "plus-img" %> 
                                <%= image_tag 'minus.png', :size => '14x14', :class => "minus-img" %>
                                <%= ss.title %>
                            </h4>
                            <div class="answers-box">
                                <%= ss.body.html_safe %>
                                <% if ss.micro_sections %>
                                    <% ss.micro_sections.each do |ms| %>
                                        <div class="qaa-box" id="<%= ms.css_id %>">
                                            <h4 class="qaa-title">
                                                <%= image_tag 'plus.png', :size => '14x14', :class => "plus-img" %> 
                                                <%= image_tag 'minus.png', :size => '14x14', :class => "minus-img" %>
                                                <%= ms.title %>
                                            </h4>
                                            <div class="answers-box">
                                                <%= ms.body.html_safe %>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>