<script>
    $('.expandable-box').next().hide();
    $('.expandable-box').next().next().hide();
    $('.expandable-box').next().next().next().hide();
    $('.expandable-box').on('click', function() {
        $(this).next().slideToggle();
        $(this).next().next().slideToggle();
        $(this).next().next().next().slideToggle();
    });
</script>

<% if topic.try(:title).blank? %>
    <h1>There's Nothing Here!</h1>
    <p>Either you're editing the title of this page, or nothing has been posted here!</p>
    <p>If you're not en editor or admin, you cannot create any posts. Please ask them to create content for you.</p>
<% else %>
    <div class="container">
        <div class="row">
            <h1 class="col-6"><%= topic.title %></h1>
            <p class="col-2"><%= link_to '[new section]', new_section_path, remote: true if can_edit? && Topic.all.any?%></p>
        </div>
    </div>
    <% if topic.try(:sections) %>
        <% topic.sections.order(:priority).each do |section| %>
            <div class="container card">
                <div class="card-header">
                    <div class="row">
                        <h3 class="card-title col-5" id="<%= section.css_id %>"><%= section.title %></h3>
                        <span class="font-italic col-4"><%= show_editors(section) %></span>
                        <% if can_edit? %>
                            <div class="col-3">
                                <%= link_to '[edit]', edit_section_path(section), remote: true, :class => "align-self-end" %>
                                <%= link_to ' [delete]', section_path(section), remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "align-self-end" %>
                            </div>
                        <% else %>
                            <div class="col-3"></div>
                        <% end %>
                    </div>
                </div>
                <p class="card-text"><%= section.body.html_safe %></p>
                <% if section.sub_sections %>
                    <% section.sub_sections.each do |ss| %>
                        <div class="card" id="<%= ss.css_id %>">
                            <h4 class="expandable-box card-title font-italic card-header"><%= ss.title %></h4>
                            <div>
                                <p class="card-text">
                                    <%= ss.body.html_safe %>
                                </p>
                                <% if ss.micro_sections %>
                                    <% ss.micro_sections.each do |ms| %>
                                        <div class="card" id="<%= ms.css_id %>">
                                            <h4 class="expandable-box card-title font-italic card-header"><%= ms.title %></h4>
                                            <p class="card-text">
                                                <%= ms.body.html_safe %>
                                            </p>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>