<%= link_to '[new]', new_topic_path, class: "edit-buttons", remote: true  if can_edit? %>
<script>
    $('.sortable').railsSortable();
</script>
<div id="new-topic"></div>
<% if @topics.all.any? %>
    <ul class="sortable">
        <% @topics.each do |topic| %>
            <li id="<%= topic.sortable_id %>">
                <%= link_to topic.title, from_nav_path(:topic_id => topic.id), remote: true  %>
                <%= link_to '[edit]', edit_topic_path(topic), remote: true %>
                <%= link_to '[X]', topic_path(topic), remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone, and it will delete all Sections, Sub_Sections and Micro_Sections under it" }, :class => "edit-button" %>
            </li>
            <% if topic.try(:sections) %>
                <ul class="sortable section-menu">
                    <% topic.sections.order(:priority).all.each do |section|%>
                        <li id="<%= section.sortable_id%>"><%= section.title %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </ul>
<% else %>
    <h3>No Topics Yet</h3>
<% end %>

