<%= form_for(@user) do |f| %>
<table class="profile-table">
        <tr>
            <td class="profile-td">First Name: </td>
            <td class="profile-td"> <%= f.text_field :first_name %></td>
        </tr>
        <tr>
            <td class="profile-td">Last Name: </td>
            <td class="profile-td"><%= f.text_field :last_name %></td>
        </tr>
        <tr>
            <td class="profile-td">Email: </td>
            <td class="profile-td"><%= f.email_field :email %></td>
        </tr>
        <% case current_user.role %>
        <% when "admin" %>
            <tr>
                <td class="profile-td">Permissions: </td>
                <td class="profile-td"><%= f.select :role, ['volunteer', 'editor', 'admin'], {}, {} %></td>
            </tr>
        <% when "editor" %>
            <% if @user.role == "admin" %>
                <td class="profile-td">Permissions: </td>
                <td><p>Admin</p></td>
            <% else %>
                <tr>
                    <td class="profile-td">Permissions: </td>
                    <td class="profile-td"><%= f.select :role, ['volunteer', 'editor'], {}, {} %></td>               
                </tr>
            <% end %>
        <% when "volunteer" %>
            <tr>
                <td class="profile-td">Permissions: </td>
                <td class="profile-td"><p>Volunteer</p></td>
                <td>Please contact an admin if you need editor permissions</td>
            </tr>
        <% else %>
            <tr>
                <td><p>Error 500: Internal Error.</p></td>
            </tr>
        <% end %>
        <tr>
            <td class="profile-td">Password: </td>
            <td class="profile-td"><%= f.password_field :password %></td>
        </tr>
    </table>
    <%= f.submit "Save Changes", :class => "btns" %>
    <br /><br />
<% end %>