<% if @user.errors.any? %>
    <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h5>
        <ul>
            <% @quser.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="signup-box">
    <h1>Create Account</h1>
    <%= form_for(@user) do |f| %>
        <%= f.text_field :first_name, :placeholder => "First Name", :class => "signup-box-element" %> 
        <%= f.text_field :last_name, :placeholder => "Last Name", :class => "signup-box-element" %> 
        <%= f.email_field :email, :placeholder => "Email", :class => "signup-box-element" %>
        <%= f.password_field :password, :placeholder => "Password", :class => "signup-box-element" %>
        <%= f.submit "Create Account", class: "btn-submit" %>
    <% end %>
</div>