<br>
<h1 class="user-list-title">List of All Users</h1>

<table class="user-list">
    <tr class="user-list-table-row">
        <th class="user-list-table">Name</th>
        <th class="user-list-table">Email</th>
        <th class="user-list-table">Permissions</th>
    </tr>
    <% @users.each do |u| %>
        <tr class="user-list-table-row">
            <td class="user-list-table"><%= link_to "#{u.first_name} #{u.last_name}", u, :class => "linkage"%></td>
            <td class="user-list-table"><%= u.email %></td>
            <td class="user-list-table"><%= u.role.capitalize %></td>
            <td class="user-list-table"><%= link_to 'Edit', edit_user_path(u), :class => "btns", remote: true %></td>
            <td class="user-list-table"><%= link_to "Delete", u, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "btns" %></td>
        </tr>
    <% end %>
</table>

