<br>
<h1 class="profile-title">Profile</h1>
<div id="profile">
    <%= render 'profile' %>
</div>
<div id="profile-edit"></div>
<div class="link-btns">
    <%= link_to "Edit Profile", edit_user_path(@user), :class => "btns", remote: true if @user == current_user || can_edit? %>
    <%= link_to "Delete Profile", @user, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "btns" if @user == current_user || is_admin?  %>
    <%= link_to 'See All Users', '/user/list', :class => "btns"%>
    <% if is_admin? %>
        <%= link_to 'Edit Email Templates', '/emails', :class => "btns" %>
        <% if Instruction.all.any? %>
            <%= link_to 'Edit Instruction(Home Page) Template', edit_instruction_path(Instruction.first), class: "btns" %>
        <% else %>
            <%= link_to 'Edit Instruction(Home Page) Template', '/instructions/new', class: "btns" %>
        <% end %>
        <div id="invite">
            <%= link_to 'Invite New User', invite_user_path, remote: true, class: "btns" %>
        </div>
    <% elsif can_edit? %>
        <%= link_to 'Edit Email Templates', '/emails', :class => "btns" %>
    <% end %>
</div>