<br>
<h1 class="profile-title">Profile</h1>
<div id="profile">
    <table class="profile-table">
        <tr>
            <td class="profile-td">First Name: </td>
            <td class="profile-td"> <%= @user.first_name %></td>
        </tr>
        <tr>
            <td class="profile-td">Last Name: </td>
            <td class="profile-td"><%= @user.last_name %></td>
        </tr>
        <tr>
            <td class="profile-td">Email: </td>
            <td class="profile-td"><%= @user.email %></td>
        </tr>
        <tr>
            <td class="profile-td">Permissions: </td>
            <td class="profile-td"><%= @user.role.capitalize %></td>
        </tr>
    </table>
</div>
<div id="profile-edit"></div>
<div class="link-btns">
    <%= link_to "Edit Profile", edit_user_path(@user), :class => "btns", remote: true %>
    <%= link_to "Delete Profile", @user, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "btns" %>
    <%= link_to 'See All Users', '/user/list', :class => "btns"%>
    <% if is_admin? %>
        <%= link_to 'Edit Email Templates', '/emails', :class => "btns" %>
        <% if Instruction.all.any? %>
            <%= link_to 'Edit Instruction(Home Page) Template', edit_instruction_path(Instruction.first), class: "btns" %>
        <% else %>
            <%= link_to 'Edit Instruction(Home Page) Template', '/instructions/new', class: "btns" %>
        <% end %>
    <% elsif can_edit? %>
        <%= link_to 'Edit Email Templates', '/emails', :class => "btns" %>
    <% else %>
    <% end %>

    
</div>