<div class="section-form">
    <%= form_for @section do |f| %>
        <div class="field">
            <p>Title</p>
            <%= f.text_field :title %>
            <p>Body</p>
            <%= f.cktext_area :body %>
        </div>
        <div id="sub-sections">
            <div class="add-associations">
                <%= link_to_add_association 'Add Sub-Section', f, :sub_sections, partial: 'sub_section_fields' %>
            </div>
        </div>
        <div id="links">
            <div class="add-associations">
                <%= link_to_add_association 'Add Links to other sections', f, :links %>
            </div>
        </div>
        <%= f.submit "Submit", :class => "btn-submit" %>
    <% end %>
</div>

<div class="permissions">
    <h1>Notice</h1>
    <p>
        Currently there is a bug that causes the sub-sections and link information to not 
        auto populate when you go to edit. The entry is not saved until you hit submit. 
        Unless you want to delete all sub-section and link information for this section 
        you will need to manually re-enter them. 
        This is currently being looked into, and we will have a patch when avaliable.
    </p>
</div>