<div class="section-form">
    <%= form_for(@section, remote: true) do |f| %>
        <%= f.label :topic_id, 'What topic does this section belong to?' %>
        <%= f.select(:topic_id) do %>
            <% Topic.all.each do |t| %>
                <%= content_tag(:option, t.title, value: t.id ) %>
            <% end %>
        <% end %>
        <div class="field">
            <h5>Title</h5>
            <%= f.text_field :title %><br>
            <%= f.cktext_area :body %>
            <br>
        </div>
        <div id="sub-sections">
            <br><br>
            <%= f.fields_for :sub_sections do |s| %>
                <%= link_to_add_association 'Add Sub-Section', f, :sub_sections %>
            <% end %>
        </div>
        <%= f.submit "Submit", :class => "btn-submit" %>
    <% end %>
</div>