<div class="section-form">
    <%= form_for @section do |f| %>
        <div class="field">
            <h5>Title</h5>
            <%= f.text_field :title %><br>
            <%= f.cktext_area :body %>
            <br>
            <%= f.label :mailer, "Include Mailer?" %>
            <%= f.checkbox :mailer %>
        </div>
        <div id="sub-sections">
            <br><br>
            <%= f.fields_for :sub_sections do |s| %>
                <%= render 'sub_section_fields', f: s %>
            <% end %>
            <div class="add-associations">
                <%= link_to_add_association 'Add Sub-Section', f, :sub_sections, partial: 'sub_section_fields' %>
            </div>
        </div>
        <div id="links">
            <%= f.fields_for :links do |l| %>
                <% render 'link_fields', f: l %>
            <% end %>
            <br>
            <div class="add-associations">
                <%= link_to_add_association 'Add Links to other sections', f, :links %>
            </div>
        </div>
        <%= f.submit "Submit", :class => "btn-submit" %>
    <% end %>
</div>