<div class="nested-fields">
    <div class="field input-group mt-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Sub-Section Title</span>
        </div>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
        <%= f.cktext_area :body %>
    </div>
    <% if f.object.micro_sections.any? %>
        <%= f.fields_for :micro_sections do |ms| %>
            <%= render 'micro_section_fields', f: ms %>
        <% end %>
    <% end %>
    <div id="micro-sections">
        <br /><br />
        <% f.object.micro_sections.build %>
        <%= f.fields_for :micro_sections do |ms| %>
            <%= link_to_add_association 'Add Micro-Section', f, :micro_sections %>
        <% end %>
    </div>
    <br>
    <%= link_to_remove_association "Remove Sub-Section", f %><br>
</div>