<% if @referral.nil? %>
    <p>
        There doesn't seem to be anything here. Why don't you add something?
    </p>
    <%= link_to '[new]', new_referral_path, remote: true if can_edit? %>
<% else %>
    <h1><%= @referral.title %></h1><%= link_to '[edit]', edit_referral_path(@referral), remote: true if can_edit? %>
    <p><%= @referral.body.html_safe %></p>
    <% if @referral.try(:ref_subs) %>
        <% @referral.ref_subs.each do |ref| %>
            <h3 id="<%=css_id(ref)%>"><%= ref.title %></h3>
            <%= ref.body.html_safe %>
        <% end %>
    <% end %>
<% end %>