<script>
    $('.sortable').railsSortable();
</script>
<% if @referrals.nil? || @referrals.any? == false %>
    <p>
        There is nothing here yet. Why don't you add something? 
    </p>
    <%= link_to '[new]', new_referral_path, remote: true, class: 'edit-buttons' %>
<% else %>
    <%= link_to '[new]', new_referral_path, remote: true, class: 'edit-buttons' %>
    <h3><%= @referrals.first.category %></h3>
    <ul class="sortable">
        <% @referrals.each do |referral| %>
            <li id="<%= referral.sortable_id %>">
                <%= link_to referral.title, fetch_content_path(:follow_id => referral.id), remote: true %>
                <%= link_to '[x]', referral, remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone."} %>
            </li>
        <% end %>
    </ul>
<% end %>
