<% if can_edit? %>
    <script>
        $('.sortable').railsSortable();
    </script>
<% end %>
<% if @referrals.nil? || @referrals.any? == false %>
    <p>
        There is nothing here yet. Why don't you add something? 
    </p>
    <%= link_to '[new]', new_referral_path, remote: true, class: 'edit-buttons' if can_edit? %>
<% else %>
    <%= link_to '[new]', new_referral_path, remote: true, class: 'edit-buttons' if can_edit? %>
    <div class="sortable">
        <% @referrals.each do |referral| %>
                <div id="<%= referral.sortable_id %>">
                    <%= link_to referral.title, fetch_content_path(:follow_id => referral.id), remote: true %>
                    <%= link_to '[x]', referral, remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone."} if can_edit? %>
                    <% if referral.try(:ref_subs) && referral.ref_subs.first != nil %>
                        <%if session[:ref_page] == referral.id %>
                             <ul>
                                <% referral.ref_subs.each do |ref| %>
                                    <li><%= ref.title %></li>
                                <% end %>
                            </ul>                       
                        <% else %>
                            <ul class="collapse">
                                <% referral.ref_subs.each do |ref| %>
                                    <li><%= ref.title %></li>
                                <% end %>
                            </ul>
                        <% end %>
                    <% end %>
                </div>
        <% end %>
    </div>
<% end %>
