<div class="container-fluid">
    <div id="reminder">
        <div class="row">
            <div class='col-12 alert alert-info' role='alert'>
                <%= render 'reminder' %>
            </div>
        </div>
    </div>
    <div class='row'>
        <h1 class='col-12 text-center' id="ref-title">Immigration Legal</h1>
    </div>

    <div class='row border-bottom' id="categories">
        <h3 class='text-center col-12'>
            <%= link_to 'Immigration Legal', fetch_category_path(:option => 'Immigration Legal'), remote: true %> - 
            <%= link_to 'Other Legal', fetch_category_path(option: 'Other Legal'), remote: true %> - 
            <%= link_to 'Social Services', fetch_category_path(option: 'Social Services'), remote: true %> - 
            <%= link_to 'Advocacy', fetch_category_path(option: 'Advocacy'), remote: true %>
        </h3>
    </div>

    <div class='row'id="referral-area">
        <div class='col-2' id="referral-titles">
            <%= render 'titles' %>
        </div>
        <div class='col-9' id="referral-content">
            <%= render 'content' %>
        </div>
        <div class='col-1' id="referral-side-buttons">
            <%= render partial: 'topics/hotlinks', locals: {hotlinks: Hotlink.all} %>
        </div>
    </div>
</div>


 

 