<% @faqposts.each do |post| %>
    <div class="qaa-box">
        <h4 class="qaa-title">
            <%= image_tag 'plus.png', :size => '14x14', :class => "plus-img" %> 
            <%= image_tag 'minus.png', :size => '14x14', :class => "minus-img" %>
            <%= post.faqpost_title %>
            <%= link_to '[edit]', edit_faqpost_path(post), remote: true, :class => "edit-button" if current_user && current_user.editor? %>
            <%= link_to '[delete]', faqpost_path(post), remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, :class => "edit-button" if current_user && current_user.editor? %>
            <%= "Last edit on #{post.updated_at} by #{post.faqpost_editor}" if current_user && current_user.editor? %>
        </h4>
        <div class="answers-box">
            <%= post.faqpost_body.html_safe %>
        </div>
    </div>
<% end %>