<h1>Edit Post</h1>
<%= form_for(@faqpost) do |f| %>
<%= f.text_field :faqpost_title %>
<%= f.cktext_area :faqpost_body %>
<%= f.submit 'Save Changes' %>
<% end %>

<div class="html-key">
    <h1>HTML(HyperText Markup Language) Key</h1>
    <ul>
        <li>You can make something <b>bold</b> by using <%= @bold %></li>
        <li>You can make something <i>Italicised</i> by using <%= @italics %></li>
        <li>You can <u>underline</u> something by using <%= @underlined %></li>
        <li>You can also <b><u><i>combiine any of the three</b></u></i>
        <li>You can make a link break by using <%= @br %></li>
        <li>You can make a hyperlink using the anchor tag with your text to be linked on either side of the tag <%= @hyperlink %></li>
    </ul>
</div>