<!DOCTYPE html>
<html>
  <head>
    <title>Hotline</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <header>
      <%= link_to image_tag("logo_hilsc.png"), "/", :class => "logo" %>
      <nav>
        <%= link_to 'Home', '/', :class => "nav-item" %>
        <%= link_to 'Script', "/sections", :class => "nav-item" %>
        <%= link_to 'Help', "/help", :class => "nav-item" %>
      </nav>
      <div class="login">
        <% if current_user %>
          <%= link_to current_user.first_name, current_user, :class => "nav-item" %>
          <%= link_to "Log out", '/logout', method: "delete", :class => "nav-item" %>
        <% else %>
          <%= link_to 'Login', '/login', :class => "nav-item"%>
          <%= link_to 'Sign Up', "/users/new", :class => "nav-item" %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
